<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    	<meta name="description" content="把握事件来龙去脉，了解话题最新动态，尽在新闻追踪　＠xwzz新闻追踪　＠newstracker Enjoy!!!">
	    <meta name="author" content="">
        {% block meta%}{% endblock%}
        <title>
            {% block title%}{% endblock%}
        </title>
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/base.css"/>
        {% block extra_css %}{% endblock %}
        {% block head %}{% endblock %}
        
        <script type="text/javascript">
	      var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35961632-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        
    </head>
    <body data-spy="scroll">
    
	    <!--top-menu-bar -->
	    <div class="navbar navbar-inverse navbar-fixed-top" id="top-menu-bar">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <a class="brand" href="/">狗狗追踪</a>
	          <div class="nav-collapse collapse">
	            <p class="navbar-text pull-right">
	              {% if user.is_authenticated %}
	                <a href="{{user_weibo_link}}" class="navbar-link">Hey, @{{ user.username }}</a>
			        {% else %}
						<a href={{ authorize_url }}><img src="http://www.sinaimg.cn/blog/developer/wiki/24.png"></a>
			      {% endif %}
	            </p>
          		{% block hnav %}
		   	    {% endblock %}
	            <form class="navbar-search pull-left">
	              <input type="text" class="search-query" placeholder="Search topics">
	            </form>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>
		<!--end-top-menu-bar -->
	    <br />
	    <br />
	    <br />
    
	    <div id="main" class="main">
		    {% block main %}
		    {% endblock %}
	    </div>

		<footer>
			<p>© Company 2012</p>
		</footer>

		<script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
		<script src="http://tjs.sjs.sinajs.cn/t35/apps/opent/js/frames/client.js" language="JavaScript"></script>
		{% block extra_scripts %}{% endblock %}
    </body>
</html>
