{% extends "base.html" %}
{% load set_var %}

{% block title %}狗狗追踪{% endblock%}

{% block extra_css %}
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/home.css"/>
{% endblock %}
<div >

{% block main %}
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span9" id="left-part">
          {% if user.is_authenticated %}
          <div class="hero-unit topics" id="my-topics">
            <h2>我关注的话题</h2>
            <div class="topic-list">
		    {% for topic in my_topics %}
		        {% set already_follow = 'true' %}
		        {% include "topic_item.html"%}
		    {% endfor %}
		    </div>
          </div>
          {% else %}
          <div class="alert fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <strong>提示！</strong> 使用微博帐号登录后可以订阅话题～
          </div>
          {% endif %}

          <div class="hero-unit topics" id="other-topics">
            <h2>热门话题</h2>
            <div class="topic-list" id="other-topic-list">
		    {% for topic in other_topics %}
		        {% set already_follow = 'false' %}
		        {% include "topic_item.html"%}
		    {% endfor %}
		    </div>
		    <a class="more-topic" id="more-topic-5" href="#">更多</a>
          </div>
			
		  {% if 'true' or user.is_authenticated %}
          <div class="hero-unit" id="settings">
              <h2>个人设置</h2>
              {% include "settings.html"%}
          </div>
		  {% endif %}
		  
          <div class="hero-unit" id="usercomments">
              <h2>用户留言</h2>
              <p>欢迎宝贵意见～ </p>
				<!-- UY BEGIN -->
				<div id="uyan_frame"></div>
				<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1709831" async=""></script>
				<!-- UY END -->
          </div>
          
        </div><!-- span9-->

        <div class="span3"  id="right-part">
          <div class="well" id="zhanzhangsay">
              <h2>站长说</h2>
              {% include "zhanzhangsay.html"%}
          </div><!--/.well -->
        </div><!--/span3-->

      </div><!--/row-->

</div><!--/container-->
<hr>
{% endblock %}
{% block extra_scripts %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/home.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.js"></script>
{% endblock %}