{% extends "base.html" %}
{% load set_var %}

{% block title %}话题列表{% endblock%}
{% block extra_css %}
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/home.css"/>
{% endblock %}

{% block main %}  
    <div id="all_topics"> 
		{% if user.is_authenticated %}
	    <section id="work">
		    <hr />
		    <h1 style="text-align:center">&ndash; 我关注的话题 &ndash;</h1>
		    <div  id="my_topics" class="topic_list clearfix">
		    {% for topic in my_topics %}
		        {% set already_follow = true %}
		        {% include "topic_item.html"%}
		    {% endfor %}
		    </div> 
		    <div class="clearfix"></div> 
		</section>
		{% endif %}
		
	    <section id="work"> 
		    <hr />
		    <h1 style="text-align:center">&ndash; 热点话题 &ndash;</h1>
		    <div id="other_topics" class="topic_list clearfix">
		    {% for topic in other_topics %}
		    	{% set already_follow = false %}
		    	{% include "topic_item.html"%}
		    {% endfor %}
		    </div> 
		    <div class="clearfix"></div> 
	        <a class="more_topic" id="more_topic_10" href="#">more...</a>
		</section>
	</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}
