<div>
	<div class="alert fade in">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<strong>提示！</strong> 后台还未实现该功能～
	</div>
	<form class="form-horizontal">
	    <fieldset>
			<legend>个人资料</legend>
			
			<div class="control-group">
			  <label class="control-label" for="input01">您的尊姓大名</label>
			  <div class="controls">
			    <input type="text" class="input-xlarge" id="input01">
			    <p class="help-block">字母，数字，汉字皆可</p>
			  </div>
			</div>
			
			<div class="control-group">
			  <label class="control-label" for="input01">您的常用邮箱</label>
			  <div class="controls">
			    <input type="text" class="input-xlarge" id="input01">
			    <p class="help-block">请输入您的常用邮箱，以便我们使用邮件提醒重要通知</p>
			  </div>
			</div>
			
			<legend>提醒机制设置</legend>
			
			<div class="control-group">
				<label class="control-label"></label>
				<div class="controls">
					<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
						一旦有更新就提醒
					</label>
				  　<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						上午提醒
			      　</label>
			      　<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						中午提醒
			      　</label>
			      　<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						下午提醒
			      　</label>
			      　<label class="radio">
						<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
						夜间提醒
			      　</label>
			　　　</div>
		　　</div>
          
	    </fieldset>
	</form>
</div>
