<div class="item">
	<div class='topic_title'>
		{% if topic.timeline_ready %}
			<a href="/news_timeline/{{topic.id}}">话题：{{topic.title}}</a>
		{% else %}
			话题：{{topic.title}}
		{% endif %}
	</div>
	<div class='recent_news'>
		{% if topic.timeline_ready %}
    		<a href="{{topic.recent_news_link}}" target="_blank">最新消息：{{topic.recent_news_title}}</a> 
		{% else %}
			最新消息：{{topic.recent_news_title}}
		{% endif %}
	</div>
	<div class='topic_operation'>
	    {% if already_follow %}
    		<a href="#" class="unfollow_topic" id = "topic_{{topic.id}}_{{current_account.id}}">取消关注</a>
		{% else %}
			<a href="#" class="follow_topic" id = "topic_{{topic.id}}_{{current_account.id}}">关注</a>
		{% endif %}
	</div>
</div>