{% extends "base.html" %}

{% block title %}Topic List{% endblock%}

{% block main %}        
	
	<div id="all_topics">
		<br/>
		<h2>我关注的话题:</h2>
		<br/>
		<ul id="my_topics" class="topic_list">
	    {% for topic in my_topics %}
	        <li>
	        	<a href="/topic_view/{{topic.id}}">{{topic.title}}</a>
	        	<a href="/news_timeline/{{topic.id}}">timeline_view</a>
	        	<a href="#" class="unfollow_topic" id = "topic_{{topic.id}}_{{current_account.id}}">取消关注</a>	
	        </li>
	        <li>{{topic.time}}</li>
	        <br />
	    {% endfor %}
	    </ul>
	    <hr />
	    <br />
	    <h2>其他热门话题:</h2>
	    <br/>
	    <ul id="other_topics" class="topic_list">
	    {% for topic in other_topics %}
	        <li>
	        	<a href="/topic_view/{{topic.id}}">{{topic.title}}</a>
	        	<a href="#" class="follow_topic" id = "topic_{{topic.id}}_{{current_account.id}}">关注</a>
	        </li>
	        <li>{{topic.time}} </li>
	        <br />
	    {% endfor %}
	    </ul>
    </div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{STATIC_URL}}js/topic_list.js"></script>
{% endblock %}